* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  background-color: #fff5ec;
}

.box {
  padding: 0.5rem;
  background-color: #ffd5c2;
}
